%p
  Thank you for your interest in adopting one or more of Lafayette's 25,000+ storm drains (also called catch
  basins). By pledging to keep your drain free of leaves and debris, you are joining your neighbors in helping to
  protect the environment, manage stormwater, and minimize flooding.
%h3
  How to Care For Your Adopted Drain
%ul
  %li
    If possible, clear the drain before it starts raining.
  %li
    Bag it! If possible, put leaves and other natural material in the green compost bin.
    Otherwise, put trash and debris in a trash bag and dispose of it with your regular blue trash 
    bin.
  %li
    Clear about 10 feet on both sides of the drain.
  %li
    Medical waste or needles? Construction debris? Toxic materials? <a target="_blank" 
    href=" http://www.sf311.org/index.aspx?page=298"> </a>
    
%h3
  Drain Cleaning Safety Tips
%ul
  %li
    Never try to lift the drain grate.
  %li
    Clear from standing on the sidewalk, not standing in the street.
  %li
    Wear reflective clothing so vehicles can see you.
  %li
    Always wear gloves and be careful of sharp objects!
  %li
    Use a rake, broom, or shovel - not your hands.
%p
  %em
    Remember, the City and Parish of Lafayette won't be held
    responsible for anything that happens to you or others in service
    of maintaining your drain. Please be careful!

%h3
  Free Tools and Training
%p
  We invite drain adopters to follow us on Facebook where
  they will be notified of drain cleaning trainings and where they can get access to free
  tools and supplies from LCG Environmental Quality. Please keep an eye on your email for
  notification of upcoming rain events and other information related to open source community projects
  and updates about access to open data in Lafayette Parish.

%h3
  Spread the Word!
%p
  Excited about the Adopt a Drain program? Want to encourage your
  coworkers, friends and neighbors to participate? Utilize social media
  to spread the word.
%p
  %a{target: "_blank", href: "https://www.facebook.com/DrainDefendersLFT", class: ""}
    =image_tag("icons/facebook.png", :alt => "DrainDefendersLFT facebook", :title => "DrainDefendersLFT facebook") 


%h3
  Volunteer Developer Opportunities
%p
  Are you a programmer with Ruby on Rails experience who wants to help
  improve and maintain the Adopt a Drain application? Don't be shy!
  We're always seeking assistance with the code! Get involved and
  follow our <a target="_blank"
  href="https://github.com/sfbrigade/adopt-a-drain">GitHub page</a>.

%h3
  Contact Us
%p
  Contact us on Facebook with questions and feedback We'd love to hear from you!

= render :partial => "sidebar/guidelines"
